body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; 
    background: white; 
}
.container-main {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
}


aside {
    width: 20%;
    background: #f4f4f4;
    padding: 0px 35px;
    border-right: #21201e 1px solid;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

main {
    flex: 1;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #FF7718;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: #ebebeb;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21201e;
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-wrap: wrap;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar ul li {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.logolink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    font-size: 24px;
}

.logo {
    width: 70px;
    height: auto;
    object-fit: contain;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #ff7718;
    width: 100%;
    max-width: 800px;
}

.search-icon {
    margin-left: 10px;
    color: gray;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    background: none;
}

.search-button {
    background-color: #ff7718;
    color: white;
    border: solid;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}


.search-button:hover {
    background-color: #e86c13;
}

.container-basket, .container-user {
    padding: 10px;
}

.container-basket:hover, .container-user:hover {
    background-color: rgba(255, 255, 255, 0.267);
    padding: 10px;
}

.sidebar-content{
    list-style-type: none;
    padding: 0;
}

.sidebar-content > li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sidebar-content li > ul > li {
    padding: 0;
    border-bottom: none;
}

.inside-list {
    list-style-type: none;
    padding: 0;
}
.inside-list a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.inside-list a:hover {
    color: #ff7718;
  
}

.container-category {
    background-color: #f5f5f5; 
    padding: 10px;
    border-radius: 5px; 
    margin: 10px;
}

.container-category ul {
    list-style-type: none;
    padding: 0;
}

.container-category ul li a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.container-category ul li a:hover {
    color:#FF7718;
}

.container-subcategory {
    background-color: #f5f5f5; 
    padding: 10px;
    border-radius: 5px; 
    margin: 10px;
}

.subcategory-item {
    list-style-type: none;
    font-size: 15px;
    color: black;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.container-category ul li a:hover {
    color:#FF7718;
}

.subcategory-list {
    flex-wrap: wrap;
    gap: 15px;
}

.subcategory-column {
    width: 35%;
}

 
.subsubcategory-item {
    list-style-type: none;
    font-size: 14px;
    color: black;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subsubcategory-item:hover {
   color: #ff7718;
}

.subcategory-link{
    text-decoration: none;
    color: black;
}

.subcategory-link:hover{
    text-decoration: none;
    color: #ff7718;
}
.products-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.product-item {
    list-style: none;
    width: calc(20% - 20px);
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 260px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-card a {
    text-decoration: none;
    color: #21201e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 12px;
    margin: 10px 0;
    color: #333;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.product-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.product-card p.price {
    font-weight: bold;
    color: #21201e;
    font-size: 16px;
    margin-right: 10px;
}

.product-card button {

    background: #ff7718;
    color: #fff;
    border: none;
    padding: 10px 0px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    width: 20%;
    margin-top: auto;
}

.product-card button:hover {
    background: #ff6a00;
    transform: scale(1.05);
}

.price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.product_detail_navigetion {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    position: sticky;
    top: 94px;
    z-index: 1000;
    background: white;
    padding-top: 10px;
}


.product_detail_navigetion ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.product_detail_navigetion li {
    position: relative;
}

.product_detail_navigetion a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
}

.product_detail_navigetion a:hover {
    color: #ff7718;
}

.product_detail_navigetion a.active,
.product_detail_navigetion a[aria-current="page"] {
    border-bottom: 3px solid #ff7718;
    font-weight: bold;
    color: #ff7718;
}

.product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
}
.product-details-characteristics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    gap: 10px;
}

.product-item {
    padding: 10px 0px;
    width: auto;
    height: auto;
}

.product-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product-item:nth-child(2){
    grid-column: 2/2;
    grid-row: 1/2;
}

.product-item:nth-child(3){
    grid-column: 1/2;
    grid-row: 2/2;
}

.product-item:nth-child(4){
    grid-column: 2/2;
    grid-row: 2/2;
}
.product-item__margin{
    margin: 0px 0% 0px 30%;
}
.product-info p {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #444444;
}
.product-item a {
    text-decoration: none;
    color: #48769f;
}
.product-item a:hover {
    text-decoration: underline;
    color: #f30909;
}

.container-info{
    border: #444444;
    border-radius: 15px;
    border-style: solid;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 1px;
}

.container-info p {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
    margin-right: 15px;
}

.container-info button{
    background: #ff7718;
    color: #fff;
    border: none;
    padding: 10px 0px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    width: 35%;
    margin-top: auto;

}

.container-info button:hover{
    background: #ff6a00;
    transform: scale(1.05);
}

.container-wallet{
    border: #444444;
    border-radius: 15px;
    border-style: solid;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 30px 1px;
}

.container-wallet p{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
    margin-right: 15px;
}

.product-images{
    width: 750px;
    height: auto;
}

.characteristics-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.char-dots{
    width: 100%;
    border-bottom: 1px dotted #ccc;
}
.char-name {
    font-weight: bold;
    color: #333;
    width: auto;
}

.char-value {
    color: #333;
    text-align: left;
    white-space: nowrap;
}
.characteristic_size{
    width: 90%;
    margin: 10px 0px;
}
.product-item__image__name_characteristics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline; 
    text-align: center; 
    border: #444444;
    border-radius: 15px;
    border-style: solid;
    padding: 10px;
    margin: 30px 1px;
}

.product-item__image {
    width: 100px; 
    height: 100px; 
    object-fit:fill; 
    
}

.product-item__image__name_characteristics h2 {
    font-size: 20px;
    margin: 0px 20px;
    color: #333;
}
.product-item__price {
    display: flex;
    flex-direction:column;
    align-items:baseline;
    margin: 20px 0px;
}
.product-item__price button{
   width: 100%;
}
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: hidden;
        gap: 10px;
    }
    .navbar ul li {
        flex: none;
        white-space: nowrap;
    }
    .catalog-box, .search-button, .nav-item:first-child {
        display: none !important;
    }
    .search-input {
        width: 60%;
        padding: 5px;
        font-size: 12px;
    }
    .container-basket:hover {
        background-color: rgba(255, 255, 255, 0.267);
        padding: 3px;
        border-radius: 3px;
    }
    .container-basket {
        padding: 3px;
    }
}




@media (max-width: 425px) {
    .navbar ul {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: hidden;
        gap: 10px;
    }
    .navbar ul li {
        flex: none;
        white-space: nowrap;
    }
    .catalog-box, .container-user, .search-button, .logo-text {
        display: none;
    }
    .search-input {
        width: 60%;
        padding: 5px;
        font-size: 12px;
    }
    .container-basket:hover {
        background-color: rgba(255, 255, 255, 0.267);
        padding: 3px;
        border-radius: 3px;
    }
    .container-basket {
        padding: 3px;
    }
}
