<table class="characteristics-table">
    {% if '/product_details/' in request.path and '/characteristic' not in request.path and '/reviews' not in request.path %}
    <tbody>
        {% for characteristic in characteristics %}
            <tr>
                <td class="char-name">{{ characteristic.characteristic.name }}</td>
                <td class="char-dots"></td>
                <td class="char-value">{{ characteristic.value }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Характеристики відсутні</td>
            </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tbody>
        {% for characteristic in characteristics %}
            <tr>
                <td class="char-name">{{ characteristic.characteristic.name }}</td>
                <td class="char-dots"></td>
                <td class="char-value">{{ characteristic.value }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Характеристики відсутні</td>
            </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
