{% extends 'products/base.html' %}
{% load static %}
{% block title %}{{ category.name }} - ShopLand{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/category_detail.css' %}">
{% endblock extracss %}

{% block content %}
<ul class="subcategories-list">
    {% for subcategory in subcategories %}
        <li class="">
            <a class="subcategory-link" href="{% url 'products_category' subcategory.slug %}">{{ subcategory.name }}</a>
            
            {% if subcategory.subcategories.all %}
                <ul class="subsubcategory-list">
                    {% for subsubcategory in subcategory.subcategories.all %}
                        <li class="subsubcategory-item"><a class="subcategory-link" href="{% url 'products_category' subsubcategory.slug %}">{{ subsubcategory.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock content %}


