{% extends "products/base.html" %}

{% block title %}Інтернет-магазин Shopland{% endblock title %}

{% block sidebar %}
    <ul class="sidebar-content">
        <li>
            <ul>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Політика конфіденційності</a></li>
                <li><a href="#">Повернення товарів</a></li>
            </ul>
        </li>
        <li>

        </li>
    </ul>

{% endblock sidebar %}

