{% extends "products/base.html" %}

{% block title %}
{{ category.name }} - ShopLand
{% endblock title %}

{% block content %}
  <ul class="products-list">
    {% for product in products %}
      <li class="product-item">
        <div class="product-card">
          <img src="{{ product.img.url }}" alt="{{ product.name }}">
          <h2>{{ product.name|slice:":40" }}{% if product.name|length > 40 %}...{% endif %}</h2>
          <p class="price">Price:{{ product.price }}</p>
          <button>Add to Cart</button>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
