{% extends "products/base.html" %}

{% block title %}
{{ category.name }} - ShopLand
{% endblock title %}
{% block sidebar %}
{% include 'products/_filter_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
  <ul class="products-list">
    {% for product in products %}
      <li class="product-item">
        <div class="product-card">
          <a href="{% url 'product_details_main' product.slug%}">
            <img src="{{ product.img.url }}" alt="{{ product.name }}">
            <h2>{{ product.name|slice:":40" }}{% if product.name|length > 40 %}...{% endif %}</h2>
            <p class="price">Price:{{ product.price }}</p>
          </a>
          <button>Add to Cart</button>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
